version: '3.8'

networks:
  gv-network:
    driver: bridge
volumes:
  prometheus_data: 
  grafana_data:

services:
  postgres:
    container_name: gestao_vaga_postgres
    image: postgres
    ports:
      - 5431:5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=gestao_vaga
  
  prometheus:
      container_name: prometheus
      image: prom/prometheus:latest
      volumes:
        - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
        - prometheus_data:/prometheus
      networks:
        - gv-network
      ports:
        - 9090:9090
  grafana:
      container_name: grafana
      image: grafana/grafana:latest
      ports:
        - 3000:3000
      networks:
        - gv-network
  api-gestao-vaga:
      build: ./gestao_vaga
      container_name: api-gestao-vaga
      ports:
        - "8080:8080"
      networks:
        - gv-network
